Polling/Polling/Web References/PollingWebService75/PollingWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DistributorPolling">
        <s:complexType />
      </s:element>
      <s:element name="DistributorPollingResponse">
        <s:complexType />
      </s:element>
      <s:element name="CJHPolling">
        <s:complexType />
      </s:element>
      <s:element name="CJHPollingResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreditPolling">
        <s:complexType />
      </s:element>
      <s:element name="CreditPollingResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DistributorPollingSoapIn">
    <wsdl:part name="parameters" element="tns:DistributorPolling" />
  </wsdl:message>
  <wsdl:message name="DistributorPollingSoapOut">
    <wsdl:part name="parameters" element="tns:DistributorPollingResponse" />
  </wsdl:message>
  <wsdl:message name="CJHPollingSoapIn">
    <wsdl:part name="parameters" element="tns:CJHPolling" />
  </wsdl:message>
  <wsdl:message name="CJHPollingSoapOut">
    <wsdl:part name="parameters" element="tns:CJHPollingResponse" />
  </wsdl:message>
  <wsdl:message name="CreditPollingSoapIn">
    <wsdl:part name="parameters" element="tns:CreditPolling" />
  </wsdl:message>
  <wsdl:message name="CreditPollingSoapOut">
    <wsdl:part name="parameters" element="tns:CreditPollingResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DistributorPollingHttpGetIn" />
  <wsdl:message name="DistributorPollingHttpGetOut" />
  <wsdl:message name="CJHPollingHttpGetIn" />
  <wsdl:message name="CJHPollingHttpGetOut" />
  <wsdl:message name="CreditPollingHttpGetIn" />
  <wsdl:message name="CreditPollingHttpGetOut" />
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DistributorPollingHttpPostIn" />
  <wsdl:message name="DistributorPollingHttpPostOut" />
  <wsdl:message name="CJHPollingHttpPostIn" />
  <wsdl:message name="CJHPollingHttpPostOut" />
  <wsdl:message name="CreditPollingHttpPostIn" />
  <wsdl:message name="CreditPollingHttpPostOut" />
  <wsdl:portType name="PollingWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <wsdl:input message="tns:DistributorPollingSoapIn" />
      <wsdl:output message="tns:DistributorPollingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <wsdl:input message="tns:CJHPollingSoapIn" />
      <wsdl:output message="tns:CJHPollingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <wsdl:input message="tns:CreditPollingSoapIn" />
      <wsdl:output message="tns:CreditPollingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PollingWebServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <wsdl:input message="tns:DistributorPollingHttpGetIn" />
      <wsdl:output message="tns:DistributorPollingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <wsdl:input message="tns:CJHPollingHttpGetIn" />
      <wsdl:output message="tns:CJHPollingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <wsdl:input message="tns:CreditPollingHttpGetIn" />
      <wsdl:output message="tns:CreditPollingHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PollingWebServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <wsdl:input message="tns:DistributorPollingHttpPostIn" />
      <wsdl:output message="tns:DistributorPollingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <wsdl:input message="tns:CJHPollingHttpPostIn" />
      <wsdl:output message="tns:CJHPollingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <wsdl:input message="tns:CreditPollingHttpPostIn" />
      <wsdl:output message="tns:CreditPollingHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PollingWebServiceSoap" type="tns:PollingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <soap:operation soapAction="http://tempuri.org/DistributorPolling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <soap:operation soapAction="http://tempuri.org/CJHPolling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <soap:operation soapAction="http://tempuri.org/CreditPolling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PollingWebServiceSoap12" type="tns:PollingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <soap12:operation soapAction="http://tempuri.org/DistributorPolling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <soap12:operation soapAction="http://tempuri.org/CJHPolling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <soap12:operation soapAction="http://tempuri.org/CreditPolling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PollingWebServiceHttpGet" type="tns:PollingWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <http:operation location="/DistributorPolling" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <http:operation location="/CJHPolling" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <http:operation location="/CreditPolling" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PollingWebServiceHttpPost" type="tns:PollingWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributorPolling">
      <http:operation location="/DistributorPolling" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CJHPolling">
      <http:operation location="/CJHPolling" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreditPolling">
      <http:operation location="/CreditPolling" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PollingWebService">
    <wsdl:port name="PollingWebServiceSoap" binding="tns:PollingWebServiceSoap">
      <soap:address location="http://172.16.10.75:8010/Portal/Webservices/PollingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PollingWebServiceSoap12" binding="tns:PollingWebServiceSoap12">
      <soap12:address location="http://172.16.10.75:8010/Portal/Webservices/PollingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PollingWebServiceHttpGet" binding="tns:PollingWebServiceHttpGet">
      <http:address location="http://172.16.10.75:8010/Portal/Webservices/PollingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PollingWebServiceHttpPost" binding="tns:PollingWebServiceHttpPost">
      <http:address location="http://172.16.10.75:8010/Portal/Webservices/PollingWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>